<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
  </head>
  <body>
    <h1>Welcome to our application, {{ name }}!</h1>
    <p>Click the below link to reset your password.</p>
    <a href="{{link}}" target="_blank">Click</a>
    <br/>
    or copy below link in new tab manually
    <br/>
    {{link}}
  </body>
</html>